NEXT_PUBLIC_APP_KEY=PI

# Puntamenti per client
NEXTAUTH_URL=http://localhost:3000

# Puntamenti pi-backend
NEXT_PUBLIC_API_URL=http://127.0.0.1:8080

# Puntamenti per sso
NEXT_PUBLIC_SSO_API_URL=http://...

# Puntamenti per Web Socket 
NEXT_PUBLIC_WEBSOCKET_URL=ws://127.0.0.1:8083

NODE_ENV=test
NEXT_PUBLIC_PACKAGE_VERSION=0.0.26
PACKAGE_VERSION=0.5.27

NEXT_PUBLIC_REACT_APP_ENABLE_REDUX_DEV_TOOLS=true
NEXTAUTH_CLIENT_ID=...


NEXTAUTH_CLIENT_SECRET=...
NEXTAUTH_SECRET=...
NEXTAUTH_CLIENT_ISSUER=...

NEXT_PUBLIC_UNLEASH_PROXY_URL=http://localhost:3333/proxy
NEXT_PUBLIC_APP_SECRET=booo
NEXT_PUBLIC_AUTHORIZATION_DEBUG=true
NEXT_PUBLIC_REACT_APP_ENABLE_REDUX_DEV_TOOLS=true

#NEXT_PUBLIC_UI_CLOSED_FOR_MAINTENANCE=1
#NEXT_PUBLIC_UI_CLOSED_FOR_MAINTENANCE_MSG=Il sistema sarà riaperto il 03/03/2025 alle 20:00