body {
    color: #121828;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    background: none !important;
    background-color: #f9fafc !important;
}

#root {
    display: flex;
    width: 100%;
    height: 100vh;
}

.custom-login-page {
    display: flex;
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 !important;
}

.custom-login-page #kc-header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 100%;
}

.custom-login-page #kc-header #kc-header-wrapper {
    min-height: 80px;
    background-image: url('../public/logo_Roma.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.custom-login-page #kc-header span,
.custom-login-page .login-pf-header,
.custom-login-page #kc-info,
.custom-login-page .login-pf-settings {
    display: none;
}

.custom-login-page .card-pf {
    background-color: #ffffff;
    color: #121828;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    box-shadow: 0px 1px 1px rgb(100 116 139 / 6%), 0px 1px 2px rgb(100 116 139 / 10%);
    padding: 30px;
    margin: 0 auto;
    min-width: 340px;
    max-width: 396px;
}

.custom-login-page #kc-content {
    width: 100%;
}

.custom-login-page #kc-content .alert {
    margin-bottom: 16px;
    background-color: rgb(209, 67, 67);
    color: white;
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 8px 8px 32px;
}

.custom-login-page #kc-content .pficon {
    top: 7px;
    left: 5px;
}

.custom-login-page .pficon-error-circle-o:before {
    color: white;
}

.custom-login-page .form-group {
    margin-bottom: 16px;
}

.custom-login-page .form-group label {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    color: rgb(153, 157, 166);
    font-size: 14px;
    font-weight: 400;
}

.custom-login-page .form-group input {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4375em;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    color: rgb(18, 24, 40);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: rgb(249, 250, 252);
    padding: 5px 12px;
    border: 1px solid rgb(230, 232, 240);
    box-shadow: none !important;
}

.custom-login-page .form-control:focus {
    border-color: rgb(18, 24, 40) !important;
    outline: 0;
}

.custom-login-page #kc-form-buttons {
    margin-top: 25px;
    margin-bottom: 0 !important;
}

.custom-login-page #kc-form-buttons input {
    display: inline-flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(174, 49, 79);
    box-shadow: rgb(100 116 139 / 12%) 0px 1px 2px;
    text-transform: none;
    padding: 4px 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    min-width: 64px;
    min-height: 36px;
}

.custom-login-page #kc-form-buttons input:hover {
    text-decoration: none;
    background-color: rgb(119, 0, 29);
    box-shadow: rgb(100 116 139 / 12%) 0px 1px 5px;
}